MAILTO=""
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/syno/sbin:/usr/syno/bin:/usr/local/sbin:/usr/local/bin
#minute	hour	mday	month	wday	who	command
0	0	1	*	*	root	/usr/syno/bin/syno_disk_health_record
40	3	*	*	1	root	/usr/syno/bin/synoschedtask --run id=2
0	0	11	*	*	root	/usr/syno/bin/synoschedtask --run id=3
6	5	*	*	0	root	/usr/syno/bin/synoschedtask --run id=4
0,30	0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23	*	*	*	root	/usr/syno/bin/synoschedtask --run id=1

*/30 *  *   *   *   root    /root/rslsync_start_cmd.sh >>/tmp/rslsync_check.log

